<div id="backtotop"><img src="/static/modules/img/top.png" alt="返回顶部" title="返回顶部"></div>
<footer>
	<div class="center">
		<div class="fl footer-logo">
			<img src="/static/modules/img/footer-logo.jpg" alt="丸子金融">
		</div>
		<div class="fl footer-shengming">
			<p>我们的原则是帮组每个人在投资中收益最大，从而成为人生的赢家。</p>
			<p>Copyright2015wanzi.com All ReservedRight 京ICP备 13739900号-8</p>
		</div>
		<div class="fr footer-share">
			<span class="weixin share-img inline-block"></span><span class="weibo share-img inline-block"></span><span class="qq share-img inline-block"></span>
		</div>
	</div>
</footer>