<header class="common-header">
	<div class="center">
		<a href="#" class="fl head-logo" title="丸子金融"><img src="/static/modules/img/logo.jpg" alt="丸子金融"></a>
		<nav class="fl">
			<a href="/" class="inline-block preferred">丸子优选</a><a href="/market" class="inline-block market">丸子市场</a><a href="/know" class="inline-block know">丸子百科</a><a href="/about" class="inline-block about">关于我们</a>
		</nav>
		<div class="fr head-member">
			<a href="#">登录</a><span>|</span><a href="#">注册</a>
		</div>
		<form name="head-search" class="fr head-search" action="" method="post">
			<input name="search-text" type="text" autocomplete="off">
		</form>

	</div>
	
	
</header>