<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>丸子优选</title>
	<link type="text/css" rel="stylesheet" href="/static/pkg/pkg.css">
<link type="text/css" rel="stylesheet" href="/static/modules/jump/jump.css">
<!--[if lt IE 9]>
	<script src="/static/lib/html5.js"></script>
	<style>
		.out-box{
			background:transparent url(/static/modules/img/yuan_out.png) no-repeat; 
		}
		.in-box{
			background:transparent url(/static/modules/img/yuan_in.png) no-repeat; 
		}
	</style>
	<![endif]-->


</head>
<body>
	
	<article>
		<div class="out-box animated bounceInDown">
			<div class="in-box">
				<div class="jump-img inline-block"><img src="/static/modules/img/skip_logo.jpg" width="150" height="150" alt="丸子金融"></div>
				<p class="jingdong">您将从丸子金融离开，进入<a href="#">京东网</a></p>
				<p class="dianzheli">如果没有跳转，请<a href="#">点击这里</a></p>
				<p class="wenxin">温馨提示</p>
				<p class="tishi">丸子产品为您提供理财资讯，您所<br/>购买的产品的全部信息以相应网站的信息为准。</p>
			</div>
		</div>
	</article>

	
</body>

</html>