<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="zh-CN"> <!--<![endif]-->
<head>
	{{ include ./include/head.html }}
	<meta name="keywords" content="科盛护栏,苏州,塑钢,草坪护栏,围墙护栏,隔离护栏,庭院护栏、静电喷塑护栏,公路网片围栏" />
</head>
<body>
    {{ include ./include/header.html }}

    <div class="page-container">
    	<div class="row breadcrumbs margin-bottom-10">
            <div class="container">
                <div class="col-md-3 col-sm-3">
                    <ul class="breadcrumb">
                        <li><a href="/index">首页</a></li>
                        <li><a href="/company/info">关于我们</a></li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-8">
                	<div class="text-center ">
                		<h1>苏州科盛护栏</h1>
                	</div>
                </div>
            </div>
        </div>
        <div class="container">
        
            <!-- BEGIN TABS AND TESTIMONIALS -->
            <div class="row mix-block">
                {{ include ./include/body-left.html }}
                
                <div class="col-md-9">
					<div class="row company-info">
						<div class="col-md-6">
							<img src="../../assets/img/open/company-show.jpg" alt="">
						</div>
						<div class="col-md-6">
							<h1>我方介绍:</h1>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    太仓市沙溪镇科盛五金加工厂位于长江之滨，自古就有鱼米之乡的太仓市，东临太仓，西街常熟，南靠昆山，与南通隔江相望；是一家专业从事PVC塑钢草坪护栏、围墙护栏、隔离护栏,庭院护栏研发、生产、安装型的工厂。目前工厂日生产护栏产品近千米，销售网络遍布全国。具有代表性的工程案例有，上海虹桥机场防护护栏，太仓市天境湖绿化护栏等。我工厂由一批常年生产经营护栏的优秀销售人员组建而成。拥有自己的设备技术、工厂实体，可自行设计或根据客户要求生产各种护栏类产品，具有良好的组织管理能力和对外协调能力以及完美的生产工艺和严格的质量控制手段，是一家集设计、制造、销售和售后服务为一体的厂家。我方竭诚广交天下朋友，把昔日的成绩作为新的起点，不断努力，不断创新，在互惠互利、友好合作的基础上同国内外客户建立密切的贸易关系，欢迎海内外各界新老朋友来函来电来我方洽谈业务，并随时恭候垂询、光临！</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="row front-lists-v2 margin-bottom-15 margin-top-10">
								<h1>文化理念:</h1>
								<div class="col-md-6">
									<ul class="list-unstyled">
										<li>企业口号：以质量为根本，以诚信促发展</li>
										<li>企业理念：良心做产品，品质赢天下 </li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list-unstyled">
										<li>企业目标：树立名族品牌，振兴名族企业</li>
										<li>企业宗旨：诚信 创新 同心</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row company-info">
						<div class="col-md-12">
							<h1>企业寄语：</h1>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建和谐社会，建设社会主义新农村，美化乡村环境，提高乡村亮点，让百姓受城乡一体化，实现小康社会给生活带来的幸福和美好，一直是我们企业追求的目标。PVC草坪护栏以其耐候、美观、易维护、安装简单、经济实惠，作为新农村美化乡村环境的一个元素，已经在各个地方的新农村建设中被广泛采纳和接收。这两年，我们的客户和产品分布全国30多个省份：上海虹桥、苏州相城、吴中区的金庭镇、江苏泰州的兴泰镇、江苏南通如皋、江西抚州市政、浙江衢州的球川镇、安徽山东泰安市、新疆喀什、甘肃平凉等等地区。当然PVC护栏不止在新农村建设中扮演着重要的角色，也成为了绿化公园，别墅小区，厂区围护的重要选择之一。</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在这里我们向科盛的新老用户郑重承诺：我们决不采用再生料、低端料以次充好，保证送到每一位客户上的护栏都是优质，坚固，精美的产品。值得一提的是，目前市场上PVC护栏质量鱼龙混杂，请消费者们在选购的时候务必擦亮双眼，仔细观察，货比三家。我们愿与所有的同行比质量、比价格、比服务。我们欢迎海内外各界新老朋友来函来电洽谈业务，更欢迎各位亲自莅临指导！</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h1>近期客户一览表：</h1>
							<table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
	<tbody>
		<tr>
			<td style="width:50px;">
			<p>序号</p>
			</td>
			<td style="width:258px;">
			<p>客&nbsp;&nbsp;户&nbsp;&nbsp;名</p>
			</td>
			<td style="width:132px;">
			<p>型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</p>
			</td>
			<td style="width:143px;">
			<p>地&nbsp;&nbsp;&nbsp;&nbsp;址</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>1</p>
			</td>
			<td style="width:258px;">
			<p>苏州太仓今夕嘉园小区</p>
			</td>
			<td style="width:132px;">
			<p>PVC塑钢草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>太仓市沙溪镇</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>2</p>
			</td>
			<td style="width:258px;">
			<p>苏州捷运物流公司</p>
			</td>
			<td style="width:132px;">
			<p>围墙护栏</p>
			</td>
			<td style="width:143px;">
			<p>太仓市双凤镇</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>3</p>
			</td>
			<td style="width:258px;">
			<p>太仓市浮桥第二中心小学</p>
			</td>
			<td style="width:132px;">
			<p>围墙护栏</p>
			</td>
			<td style="width:143px;">
			<p>太仓市浮桥镇</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>4</p>
			</td>
			<td style="width:258px;">
			<p>太仓市南郊天境湖公园</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>太仓市南郊</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>5</p>
			</td>
			<td style="width:258px;">
			<p>景瑞泰蓝高级别墅区</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏围栏</p>
			</td>
			<td style="width:143px;">
			<p>太仓市经济开发区</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>6</p>
			</td>
			<td style="width:258px;">
			<p>常熟市虞山区名族小学</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>常熟市虞山区</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>7</p>
			</td>
			<td style="width:258px;">
			<p>盐城大丰新农村建设</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>盐城大丰</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>8</p>
			</td>
			<td style="width:258px;">
			<p>常熟市沙家浜青年公园</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>常熟市沙家浜</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>9</p>
			</td>
			<td style="width:258px;">
			<p>太仓市港城滨江广场</p>
			</td>
			<td style="width:132px;">
			<p>绿化护栏</p>
			</td>
			<td style="width:143px;">
			<p>太仓市港区</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>10</p>
			</td>
			<td style="width:258px;">
			<p>太仓市太沙路段交通护栏</p>
			</td>
			<td style="width:132px;">
			<p>交通护栏</p>
			</td>
			<td style="width:143px;">
			<p>太仓市沙溪镇</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>11</p>
			</td>
			<td style="width:258px;">
			<p>广西南宁武警学校</p>
			</td>
			<td style="width:132px;">
			<p>草坪围栏</p>
			</td>
			<td style="width:143px;">
			<p>南宁市武警警官专科学校</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>12</p>
			</td>
			<td style="width:258px;">
			<p>湖北枣阳市新农村建设</p>
			</td>
			<td style="width:132px;">
			<p>草坪围栏</p>
			</td>
			<td style="width:143px;">
			<p>枣阳市</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>13</p>
			</td>
			<td style="width:258px;">
			<p>武警太仓市中队</p>
			</td>
			<td style="width:132px;">
			<p>围墙围栏</p>
			</td>
			<td style="width:143px;">
			<p>太仓市</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>14</p>
			</td>
			<td style="width:258px;">
			<p>安徽芜湖新农村建设</p>
			</td>
			<td style="width:132px;">
			<p>草坪围栏</p>
			</td>
			<td style="width:143px;">
			<p>芜湖市无为县</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>15</p>
			</td>
			<td style="width:258px;">
			<p>湖北黄冈团风县</p>
			</td>
			<td style="width:132px;">
			<p>草坪围栏</p>
			</td>
			<td style="width:143px;">
			<p>团风县</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>16</p>
			</td>
			<td style="width:258px;">
			<p>湖北汉川脉旺镇新农村建设</p>
			</td>
			<td style="width:132px;">
			<p>草坪围栏</p>
			</td>
			<td style="width:143px;">
			<p>湖北汉川</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>17</p>
			</td>
			<td style="width:258px;">
			<p>新疆喀什地区麦盖提</p>
			</td>
			<td style="width:132px;">
			<p>草坪围栏</p>
			</td>
			<td style="width:143px;">
			<p>喀什麦盖提县电信局</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>18</p>
			</td>
			<td style="width:258px;">
			<p>张家港凤凰桥治安卡口</p>
			</td>
			<td style="width:132px;">
			<p>交通隔离栏</p>
			</td>
			<td style="width:143px;">
			<p>张家港市</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>19</p>
			</td>
			<td style="width:258px;">
			<p>新农村创建护栏</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>江苏大丰恒北村</p>
			</td>
		</tr>
		<!-- <tr>
			<td style="width:50px;">
			<p>20</p>
			</td>
			<td style="width:258px;">
			<p>常熟交警中队</p>
			</td>
			<td style="width:132px;">
			<p>浸塑围栏</p>
			</td>
			<td style="width:143px;">
			<p>常熟市</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>21</p>
			</td>
			<td style="width:258px;">
			<p>苏州天盛针织有限公司</p>
			</td>
			<td style="width:132px;">
			<p>喷塑围栏</p>
			</td>
			<td style="width:143px;">
			<p>园区阳澄湖</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>22</p>
			</td>
			<td style="width:258px;">
			<p>嘉兴公园</p>
			</td>
			<td style="width:132px;">
			<p>浸塑围网</p>
			</td>
			<td style="width:143px;">
			<p>浙江嘉兴市</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>23</p>
			</td>
			<td style="width:258px;">
			<p>新农村创建护栏</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>江苏大丰恒北村</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>24</p>
			</td>
			<td style="width:258px;">
			<p>市政绿化带护栏</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>新疆额什地区</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>25</p>
			</td>
			<td style="width:258px;">
			<p>市政创建护栏</p>
			</td>
			<td style="width:132px;">
			<p>绿化带护栏</p>
			</td>
			<td style="width:143px;">
			<p>江西南昌</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>26</p>
			</td>
			<td style="width:258px;">
			<p>新农村创建护栏</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>重庆开县</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>27</p>
			</td>
			<td style="width:258px;">
			<p>新农村创建护栏</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>浙江台州杜桥南溪村</p>
			</td>
		</tr>
		<tr>
			<td style="width:50px;">
			<p>28</p>
			</td>
			<td style="width:258px;">
			<p>新农村创建护栏</p>
			</td>
			<td style="width:132px;">
			<p>草坪护栏</p>
			</td>
			<td style="width:143px;">
			<p>无锡宜兴市</p>
			</td>
		</tr> -->
		
		<tr>
			<td style="width:50px;">
			<p>&nbsp;</p>
			</td>
			<td style="width:258px;">
			<p>&hellip;&hellip;&hellip;&hellip;&hellip;.</p>
			</td>
			<td style="width:132px;">
			<p>&nbsp;</p>
			</td>
			<td style="width:143px;">
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
						</div>
					</div>
                </div>
            </div>                
        </div>
    </div>
    {{ include ./include/footer.html }}
	{{ include ./include/scripts.html }}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"1","bdPos":"left","bdTop":"141.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>