<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="zh-CN"> <!--<![endif]-->
<head>
	{{ include ./include/head.html }}
	<link href="../../assets/resources/metronic_fronted/css/pages/page404.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {{ include ./include/header.html }}

    <div class="page-container">
    	<div class="row breadcrumbs margin-bottom-10">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <ul class="breadcrumb">
                        <li><a href="/index">首页</a></li>
                        <li>错误</li>
                    </ul>
                </div>
                <div class="col-md-8 col-sm-8">
                	<div class="text-center ">
                		<h1>500--服务器错误</h1>
                	</div>
                </div>
            </div>
        </div>
        <div class="container">
        
            <!-- BEGIN TABS AND TESTIMONIALS -->
            <div class="row mix-block">
                <div class="col-md-9 page-404">
					<div class="number">
			             500
			          </div>
			          <div class="details">
			             <h3>对不起,服务器错误,请联系管理员</h3>
			             <p>您正在访问的页面存在严重错误.请尽快联系管理员<br>
                			您还可以直接<a href="/">返回首页</a>
			             </p>
					</div>
                </div>
            </div>                
        </div>
    </div>
    {{ include ./include/footer.html }}
	{{ include ./include/scripts.html }}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"1","bdPos":"left","bdTop":"141.5"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>