<div class="page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<ul class="page-sidebar-menu" id="sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li class="start nav_1">
			<a href="/business"> <i class="icon-home"></i>
				<span class="title">首页</span>
				<span class="selected"></span>
			</a>
		</li>
		{{ navs.forEach(function(obj, index){ }}
		<li class="nav_{{= obj.sortNum }}">
			<a href="#"> <i class="icon-book"></i>
				<span class="title">{{= obj.title }}</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li class="nav_{{= obj.sortNum }}_S">
					<a href="/business/sectionList/{{= obj.pathname }}">查询</a>
				</li>
				<li class="nav_{{= obj.sortNum }}_E">
					<a href="/business/sectionEdit/{{= obj.pathname }}">新增</a>
				</li>
			</ul>
		</li>
		{{ }); }}
		<li class="nav_A">
			<a href="#"> <i class="icon-book"></i>
				<span class="title">访客管理</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li class="nav_A2">
					<a href="/business/vistor/list">查询</a>
				</li>
				<!-- <li class="nav_A2">
					<a href="/business/vistor/edit">新增</a>
				</li> -->
			</ul>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>