<title>{{=locals.title }}</title>
<meta content="" name="description" />
<meta content="" name="author" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="MobileOptimized" content="320">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="../../assets/resources/metronic_admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/resources/metronic_admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/resources/metronic_admin/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="../../assets/resources/metronic_admin/css/style-metronic.css" rel="stylesheet" type="text/css" />
<link href="../../assets/resources/metronic_admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../assets/resources/metronic_admin/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="../../assets/resources/metronic_admin/css/plugins.css" rel="stylesheet" type="text/css" />
<link href="../../assets/resources/metronic_admin/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
<link rel="stylesheet" href="../../assets/resources/metronic_admin/plugins/data-tables/DT_bootstrap.css" />
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="../../assets/img/favicon.ico" />
<!-- BEGIN APP STYLES -->
<link href="../../assets/css/admin/custom.css" rel="stylesheet" type="text/css" />
<link href="../../assets/resources/zero/common/css/zero-all.css" rel="stylesheet" type="text/css" />
<!-- END APP STYLES -->