	<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-4 space-mobile">
                    <h2>企业寄语：</h2>
                    <p class="margin-bottom-30">创建和谐社会，建设社会主义新农村，美化乡村环境，提高乡村亮点，让百姓受城乡一体化，实现小康社会给生活带来的幸福和美好，一直是我们企业追求的目标。PVC草坪护栏以其耐候、美观、易维护、安装简单、经济实惠，作为新农村美化乡村环境的一个元素，已经在各个地方的新农村建设中被广泛采纳和接收。这两年，我们的客户和产品分布全国30多个省份：重庆开县、苏州相城区、吴中区的金庭镇、吴江平望镇和张家港的、江苏泰州姜堰的兴泰镇、江苏南通如皋、江西抚州市政、浙江衢州的球川镇、安徽阜阳、福建三明市、山东泰安市、新疆额什、甘肃平凉等等地区，他们甚把PVC草坪护栏，作为新农村创建的一个元素，写进新农村建设验收标准和考核的一项内容当中去。这里我们向科盛的新老用户郑重承诺：我们决不采用再生料，目前市场上PVC护栏质量鱼龙混杂，请您在选购的时候仔细观察，当心上当，我们愿与所有的同行比质量、比价格、比服务。我们更热忱地欢迎您在方便的时候来厂光临指导！</p>
                    <div class="clearfix"></div>                    
                </div>
                <div class="col-md-4 col-xs-offset-1 col-sm-4">
                    <!-- BEGIN TWITTER BLOCK -->                                                    
                    <h2>文化理念：</h2>
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="fa fa-twitter"></i></dt>
                        <dd>企业口号：质量成就未来</dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="fa fa-twitter"></i></dt>
                        <dd> 企业理念：良心做质量，品质赢天下 </dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="fa fa-twitter"></i></dt>
                        <dd> 企业目标：树立品牌，振兴名族企业</dd>
                    </dl>                    
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="fa fa-twitter"></i></dt>
                        <dd>企业宗旨：诚信 团结 奋进</dd>
                    </dl>                    
                    <!-- END TWITTER BLOCK -->                                                                        
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <p>
                        <span class="margin-right-10">2013 © 太仓市沙溪镇科盛五金加工厂,www.keshenghl.com. ALL Rights Reserved.苏ICP备14013045号.</span> 
                    </p>
                </div>
            </div>
        </div>
    </div>