	<div class="header navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo-v1" href="http://www.keshenghl.com/">
					<img src="../../assets/img/logo.png" id="logoimg" alt="科盛护栏,首页">
				</a>
			</div>
		
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav" style="font-size:18px;">
					<li class="{{= locals.navID == '1' ? 'active' : '' }}"><a href="http://www.keshenghl.com/">&nbsp;&nbsp;首&nbsp;&nbsp;页&nbsp;&nbsp;</a></li>
					<li class="{{= locals.navID == '2' ? 'active' : '' }}"><a href="http://www.keshenghl.com/company/info">&nbsp;关于我们&nbsp;</a></li>
					<li class="{{= locals.navID == '3' ? 'active' : '' }}"><a href="http://www.keshenghl.com/list/chanpin">&nbsp;产品实例&nbsp;</a></li>
					<li class="{{= locals.navID == '4' ? 'active' : '' }}"><a href="http://www.keshenghl.com/list/xinwen">&nbsp;业内新闻&nbsp;</a></li>
					<li class="{{= locals.navID == '5' ? 'active' : '' }}"><a href="http://www.keshenghl.com/company/contact">&nbsp;联系我们&nbsp;</a></li>
					<li class="{{= locals.navID == '6' ? 'active' : '' }}"><a href="http://www.keshenghl.com/company/Honors">&nbsp;荣誉资质&nbsp;</a></li>
				</ul>                           
			</div>
		</div>
    </div>