<meta charset="utf-8" />
<title>{{= typeof locals.title == 'undefined' ? '塑钢护栏_围墙栏杆_草坪护栏围栏_PVC护栏栅栏-科盛护栏' : locals.title }}</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="{{= typeof locals.description == 'undefined' ? '苏州科盛护栏是一家专业从事护栏生产的厂家，主要生产塑钢护栏、草坪护栏、围墙栏杆、PVC护栏、PVC栅栏、草坪围栏、围墙栅栏等护栏产品。所生产的护栏造型新颖、品位高雅、亮丽光洁、质量牢固。联系电话：13962406197' : locals.description }}" name="description" />
<meta content="victzero@gmail.com" name="author" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->          
<link href="../../assets/resources/metronic_fronted/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/resources/metronic_fronted/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
<link href="../../assets/resources/metronic_fronted/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />              
<link rel="stylesheet" href="../../assets/resources/metronic_fronted/plugins/revolution_slider/css/rs-style.css" media="screen">
<link rel="stylesheet" href="../../assets/resources/metronic_fronted/plugins/revolution_slider/rs-plugin/css/settings.css" media="screen"> 
<link href="../../assets/resources/metronic_fronted/plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />                
<!-- END PAGE LEVEL PLUGIN STYLES -->

<!-- BEGIN THEME STYLES --> 
<link href="../../assets/resources/metronic_fronted/css/style-metronic.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/resources/metronic_fronted/css/style.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/resources/metronic_fronted/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="../../assets/resources/metronic_fronted/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/resources/metronic_fronted/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->

<!-- metronic fronted theme override -->
<link href="../../assets/css/mt_f_over.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/css/open/main.css" rel="stylesheet" type="text/css"/>

<link rel="shortcut icon" href="../../assets/img/favicon.ico" />