
<!--[if lt IE 9]>
<script src="../../assets/resources/metronic_fronted/plugins/respond.min.js"></script>  
<![endif]-->
<script src="../../assets/resources/metronic_fronted/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="../../assets/resources/metronic_fronted/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="../../assets/resources/metronic_fronted/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../assets/resources/metronic_fronted/plugins/hover-dropdown.js"></script>
<script type="text/javascript" src="../../assets/resources/metronic_fronted/plugins/back-to-top.js"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->
<script type="text/javascript" src="../../assets/resources/metronic_fronted/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="../../assets/resources/metronic_fronted/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="../../assets/resources/metronic_fronted/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../../assets/resources/metronic_fronted/plugins/bxslider/jquery.bxslider.min.js"></script>
<script src="../../assets/resources/metronic_fronted/scripts/app.js"></script>
<script src="http://v1.cnzz.com/stat.php?id=5895952&web_id=5895952" language="JavaScript"></script>