<div class="page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->        
	<ul class="page-sidebar-menu" id="sidebar-menu">
	   <li>
	      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	      <div class="sidebar-toggler hidden-phone"></div>
	      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	   </li>
	   <li class="start nav_1">
	      <a href="/admin">
	      <i class="icon-home"></i> 
	      <span class="title">首页</span>
	      <span class="selected"></span>
	      </a>
	   </li>
	   <li class="nav_2">
	      <a href="#">
	      <i class="icon-book"></i> 
	      <span class="title">护栏分类</span>
	      <span class="arrow "></span>
	      </a>
	      <ul class="sub-menu">
	      	<li class="nav_21">
	            <a href="/admin/cateList">查询护栏类别</a>
	         </li>
	         <li class="nav_22">
	            <a href="/admin/cateEdit">添加护栏类别</a>
	         </li>
	      </ul>
	   </li>
	   <li class="nav_3">
	      <a href="javascript:;">
	      <i class="icon-book"></i> 
	      <span class="title">产品实例</span>
	      <span class="arrow "></span>
	      </a>
	      <ul class="sub-menu">
	      	<li class="nav_31">
	            <a href="/admin/instanceList/chanpin">查询产品实例</a>
	         </li>
	         <li class="nav_32">
	            <a href="/admin/instanceEdit/chanpin">添加产品实例</a>
	         </li>
	      </ul>
	   </li>
	   <li class="nav_4">
	      <a href="#">
	      <i class="icon-book"></i> 
	      <span class="title">业内新闻</span>
	      <span class="arrow "></span>
	      </a>
	      <ul class="sub-menu">
	      	<li class="nav_41">
	            <a href="/admin/instanceList/xinwen">查询业内新闻</a>
	         </li>
	         <li class="nav_42">
	            <a href="/admin/instanceEdit/xinwen">添加业内新闻</a>
	         </li>
	      </ul>
	   </li>
	   <li class="last nav_5">
	      <a href="#">
	      <i class="icon-book"></i> 
	      <span class="title">型号展示</span>
	      <span class="arrow "></span>
	      </a>
	      <ul class="sub-menu">
	      	<li class="nav_51">
	            <a href="/admin/instanceList/type">查询型号展示</a>
	         </li>
	         <li class="nav_52">
	            <a href="/admin/instanceEdit/type">添加型号展示</a>
	         </li>
	      </ul>
	   </li>
	   <li class="last nav_6">
	      <a href="#">
	      <i class="icon-book"></i> 
	      <span class="title">数据抓取</span>
	      <span class="arrow "></span>
	      </a>
	      <ul class="sub-menu">
	      	<li class="nav_61">
	            <a href="/admin/fetchData/jimuBox">积木盒子</a>
	         </li>
	         <li class="nav_62">
	            <a href="/admin/fetchData/jimuBox">****</a>
	         </li>
	      </ul>
	   </li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>