<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-CN" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-CN" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="zh-CN" class="no-js"> <!--<![endif]-->
<head>
	{{ include ./include/head.html }}
</head>
<body class="page-header-fixed page-sidebar-fixed page-footer-fixed ">
	{{ include ./include/header.html }}
	<div class="page-container">
		{{ include ./include/body-left.html }}
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
					<h3 class="page-title">
						首页
					</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="../../assets/">首页</a> 
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							欢迎来到信息发布系统控制台
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="tab-pane ">
				<div class="portlet box green">
					<div class="portlet-title">
						<div class="caption"><i class="fa fa-reorder"></i>首页滚动图查询</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body form">
						<!-- BEGIN FORM-->
						<form class="form-horizontal" method="post" action="/admin/homeimgList">
							<div class="form-body">
								<div class="row">
	                               <div class="col-md-3">
	                                  <div class="form-group">
	                                     <label class="control-label col-md-4">标题</label>
	                                     <div class="col-md-8">
	                                     	<input type="text" name="s_title" value="{{= typeof locals.s_title != 'undefined' ? locals.s_title : '' }}" class="form-control"> 
	                                     </div>
	                                  </div>
	                               </div>
	                               <!--/span-->
	                            </div>
							</div>
							<div class="form-actions fluid">
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-offset-10 col-md-2">
											<button type="submit" class="btn green">查询</button>&nbsp;&nbsp;&nbsp;
											<button type="button" onclick="location.href='/admin/homeimgEdit';" class="btn blue">新增</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!-- END FORM-->                
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption"><i class="fa fa-cogs"></i>滚动图查询结果</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th scope="col" style="width: 50px;" >序号</th>
											<th scope="col" >标题</th>
											<th scope="col" style="width: 150px;" >封面缩略图</th>
											<th scope="col" >更新时间</th>
											<th scope="col" >操作</th>
										</tr>
									</thead>
									<tbody>
										{{ topics.forEach(function(obj, index){ }}
											<tr>
												<td>{{= (filter.pageNo-1) * filter.pageSize + index + 1 }}</td>
												<td>{{= obj.title }}</td>
												<td><img alt="" src="{{= obj.img }}" style="width: 300px; height: 100px;" class="img-responsive"></td>
												<td>{{= fmt.format_date(obj.modifyTime) }}</td>
												<td>
													<a href="/admin/homeimgDetail?id={{= obj._id }}">详细</a>&nbsp;&nbsp;&nbsp;
													<a href="/admin/homeimgEdit?id={{= obj._id }}">修改</a>&nbsp;&nbsp;&nbsp;
													<a href="/admin/homeimgRemove?id={{= obj._id }}">删除</a>
												</td>
											</tr>
										{{ }); }}
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="dataTables_paginate paging_bootstrap" data-target="#searchForm">
										{{ include ./include/pagination.html }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	{{ include ./include/footer.html }}
	<script type="text/javascript">var _NAVID = '1';</script>
	{{ include ./include/scripts.html }}
	<script>
		jQuery(document).ready(function() {       
		   App.init();
		   zeroApp.init();
		});
	</script>
</body>
<!-- END BODY -->
</html>